<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/vue-2.6.12.js"></script>
</head>
<body>
    <!-- vue控制下面这个dom元素 View-->
    <div id="app">
        <p v-if='flag'>被v-if控制</p>
        <p v-show='flag'>被v-show控制</p>
        <p v-if='type === "A"'>优秀</p>
        <p v-else-if='type === "B"'>良好</p>
        <p v-else-if='type === "C"'>及格</p>
        <p v-else-if='type === "D"'>不及格</p>
    </div> 
    <script>
        // 创建vue实例对象 View Model
        const vm = new Vue({
            // el 是固定写法 表示当前vm实例控制页面上的哪个区域 接收值是选择器
            el:'#app', //view
            // data对象就是要渲染到页面上的数据 model
            data:{
                username:'zs',
                flag:true,
                type:'A'
            }
        })
    </script>
</body>
</html>